<div class="registro-container">
  <div class="form-card">
    <h3>Consultar Registro</h3>
    <form (submit)="consultarRut($event)">
      <div class="form-group">
        <label for="rutInput">Ingrese el RUT</label>
        <input
          type="text"
          id="rutInput"
          class="input-field"
          placeholder="Ejemplo: 12345678-9"
          [(ngModel)]="rut"
          name="rut"
          required
        />
      </div>
      <div class="form-button">
        <button class="btn btn-primary" type="submit">
          Consultar
        </button>
      </div>
    </form>
  </div>
</div>