<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="login()">
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Iniciar Sesión</ion-button>
  </form>

  <ion-text>
    <p>
      ¿No tienes cuenta? <a routerLink="/register">Regístrate aquí</a>.
    </p>
  </ion-text>
</ion-content>